{% extends 'base.html.twig' %}

{% block title %}Add{% endblock %}

{% block body %}
    
	<p>
        <a href="{{ path('simple_form_list') }}">Come back</a>
    </p>

    {# disable html5 validations #}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
       
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.email) }}

        <ul class="attachments" data-prototype="{{ form_widget(form.attachments.vars.prototype)|e }}">
            {{ form_row(form.attachments) }}
        </ul>
        
        {{ form_row(form.add) }}
        
    {{ form_end(form) }}
    
{% endblock %}

{% block javascripts %}
    {% javascripts '@AdFinemSimpleFormBundle/Resources/public/js/simpleForm.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
